{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Data Table </title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- ========================================================= -->

    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/datatables.min.css" %}>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <link rel="stylesheet" href={% static "css/dataTables.dateTime.min.css" %}>






</head>
<!-- =============== Design & Develop By = MJ MARAZ   ====================== -->

<body>
     {% include 'navbar.html' %}
     <br>
     <h1 class="mb-2">Zlecenia produkcyjne zrealizowane lub anulowane </h1>

    <!-- =======  Data-Table  = Start  ========================== -->
                <div class="data_table">
                    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Od daty:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Do daty:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
        <tr>
            <button id="reset-filter" class="btn btn-secondary">Reset Daty</button>
        </tr>
    </tbody></table>
                    <table id="example" class="table table-striped table-bordered display nowrap" style="width:100%">
                        <thead class="table-dark">
                            <tr>
                                <th>Nr</th>
                                <th>NrWytl</th>
                                <th>NrZP</th>
                                <th>Zmiana</th>
                                <th>Data produkcji</th>
                                <th>NrRolki</th>
                                <th>Artykuł</th>
                                <th>Rodzaj folii</th>

                                <th>SzerWorka [mm]</th>
                                <th>SzerRękawa [mm]</th>
                                <th>Zakładka [mm]</th>
                                <th>GrubWorka [mikr]</th>
                                <th>DolneOdch [mikr]</th>

                                <th>DługRolkZLec Korekta [mb]</th>
                                <th>WagaRolki ZLec [kg]</th>
                                <th>Wynikowa grubość [mikrony]</th>
                                <th>GrubośćWynik doZakl % </th>
                                <th>Ślimak</th>
                                <th>Walce</th>
                                <th>Operator</th>
                                <th>Uwagi</th>
                                <th>Mieszanka</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for post in rolki_list %}
                             <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{  nrwyt_dict|get_item:post.zamowienie.NrWyt }}</td>
                                <td>{{ post.NrZp }}</td>
                                <td> {{ post.Zmiana }}</td>
                                 <td> {{ post.Data|date:"Y/m/d" }}</td>
                                <td> {{ post.Rolka }} </td>
                                <td> {{ post.zamowienie.Artykul }} </td>
                                <td> {{ folia_dict|get_item:post.zamowienie.Rodzaj }} </td>
                                <td> {{ post.zamowienie.SzerWorka | readable_integer }} </td>
                                <td>{{ post.zamowienie.SzerRekawa | readable_integer }}</td>
                                <td>{{ post.zamowienie.Zakladka  | readable_integer }}</td>
                                <td>{{ post.zamowienie.GrubWorka | readable_integer  }}</td>
                                <td>{{ post.zamowienie.DolneOdch | readable_integer  }}</td>
                                <td>{{ post.DlugRolkiProd | readable_integer }}</td>
                                <td>{{ post.WagaRolkiProd | readable_integer  }}</td>
                                <td>{{ post.Wynikowa | readable_integer }}</td>
                                <td style="color: {% if post.Wynik > 100 %}red{% endif %}">{{ post.Wynik | readable_integer }}</td>
                                <td>{{ post.Slimak | readable_integer }}</td>
                                <td>{{ post.Walce | readable_integer }}</td>
                                <td>{{ post.UserName  }}</td>
                                <td>{{ post.Uwagi | default_if_none:'' }}</td>
                                 <td>{{ post.Mieszanka | default_if_none:''}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <div id="total-data"></div>
</div>


    <!-- =======  Data-Table  = End  ===================== -->
    <!-- ============ Java Script Files  ================== -->


    <script src={% static "js/bootstrap.bundle.min.js" %}></script>
     <script src={% static "js/sep.js" %}></script>
    <script src={% static "js/jquery-3.6.0.min.js" %}></script>
    <script src={% static "js/datatables.min.js" %}></script>
    <script src={% static "js/pdfmake.min.js" %}></script>
    <script src={% static "js/vfs_fonts.js" %}></script>
    <script src={% static "js/custom.js"  %}></script>
    <script src={% static "js/dataTables.dateTime.min.js" %}></script>
    <script src={% static "js/moment.min.js"  %}></script>

</body>

</html>
