{% extends 'Doc5/foliaRaport.html' %}

{% block table %}
<div class=" w-100 overflow-auto">
     <div class="row" style="flex-wrap: nowrap;">
        <div class="col-12">
            <div class="data_table">
                <table id="example" class="table table-striped table-bordered small">

	<tr>
		<th>Lp</th>
		<th id="NrZp">Nr ZP</th>
		<th colspan="4">Artykuł</th>
		<th>NrWytl</th>
		<th>Rodzaj folii</th>
		<th>IlośćZlec [szt]</th>
		<th>SzerWorka [mm]</th>
		<th>SzerRekawa [mm]</th>
		<th>Zakładka [mm]</th>
		<th>DługWorka [mm]</th>
		<th>GrubWorka [mikron]</th>
		<th>DolneOdch [mikr]</th>
		<th>WagaFoilZlec [kg]/</th>
		<th>Waga produkcja [kg]</th>
		<th>Waga do zakończenia [kg]</th>
		<th>DługFoliZlec korekta [mb]</th>
		<th>Długość produkcja [mb]/</th>
		<th>Długość do zakończenia [mb]</th>
		<th>Procent realizacji</th>
		<th>Status</th>
		<th colspan="4">Uwagi</th>
		<th>Funkcja</th>
	</tr>
	<tr>
		<td rowspan="2">{{ forloop.counter }}</td>
		<td rowspan="2" style="width:auto">{{ post.NrZp}}</td>
		<td colspan="4">{{ post.Artykul}}</td>
		<td rowspan="2">{{ nrwyt_dict|get_item:post.NrWyt}}</td>
		<td rowspan="2">{{ folia_dict|get_item:post.Rodzaj}}</td>
		<td rowspan="2">{{ post.IloscZlec | readable_integer}}</td>
		<td rowspan="2">{{ post.SzerWorka | readable_integer }}</td>
		<td rowspan="2">{{ post.SzerRekawa | readable_integer }}</td>
		<td rowspan="2">{{ post.Zakladka | readable_integer }}</td>
		<td rowspan="2">{{ post.DlugWorka | readable_integer}}</td>
		<td rowspan="2">{{ post.GrubWorka | readable_integer}}</td>
		<td rowspan="2">{{ post.DolneOdch | readable_integer}}</td>
		<td rowspan="2">{{ post.WagaFoliZlec | readable_integer}}</td>
		<td rowspan="2">{{ post.Research.wagaSum | readable_integer }}</td>
		<td rowspan="2">{{ post.Research.wagaEnd  | readable_integer}}</td>
		<td rowspan="2">{{ post.DlugFoliZlec_Korekta | readable_integer}}</td>
		<td rowspan="2">{{ post.Research.dlugProd | readable_integer }}</td>
		<td rowspan="2">{{ post.Research.dlugEnd  | readable_integer}}</td>
		<td  class="bg-info {% if post.Research.progres > 100 %}text-danger{% endif %}" rowspan="2">{{ post.Research.progres}} % </td>
		<td rowspan="2"> {{ status_dict|get_item:post.Status }}</td>
		<td colspan="4" rowspan="2"> {{ post.Uwagi | default_if_none:''}}</td>
		<td rowspan="2"> <button onclick="showPopup('{{ post.NrZp }}')">Zmień Status</button> </td>
	</tr>
	<tr>
		<td>Data zlecenia</td>
		<td>{{ post.Data}}</td>
		<td>Kod</td>
		<td>{{ post.Kod | default_if_none:''}}</td>
	</tr>
</table>

            </div>
        </div>
    </div>
</div>


{% endblock %}