{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  {% include 'navbar.html' %}
  <br/>

   {% block content %}
   
   {% endblock %}

  <br/>
    <div class="container">
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 1</h2>
            <p class="card-text">Zlecenia produkcyjne planowane</p>
            <button class="btn btn-primary " >
                <a class="text-white" href="{%  url "PlanProc.views.index" %}" >
                 Zlecenia Planowane </a>
            </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 2</h2>
            <p class="card-text">Zlecenia produkcyjne w realizacji</p>
            <button  class="btn btn-primary">
                <a class="text-white"  href="{%  url "PlanFolia.views.index" %}" >
                Zlecenia w Realizacji </a>
                </button>
        </div>
      </div>
    </div>
      <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 6</h2>
            <p class="card-text">Wydajność na Zmianach</p>
            <button class="btn btn-primary">
                <a class="text-white"  href="{%  url "procPrac.views.index" %}" >  Wydajność </a></button>
        </div>
      </div>
    </div>
  </div>
        {% if user_kierownik %}
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Planowanie Formula</h2>
            <p class="card-text"> Planowanie produkcji formula</p>
            <button class="btn btn-primary">
                    <a class="text-white"
                       href="{%  url "Form.views.index" %}">Planowanie Formula </a>
            </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 5</h2>
           <p class="card-text">Zlecenia produkcyjne w realizacji
            <button class="btn btn-primary">
                <a class="text-white"
                       href="{%  url 'Realizacja.views.index' %}"> Zlecenia produkcyjne w realizacji </a>
            </button>
        </div>
      </div>
    </div>
  </div>
        {% endif %}
            {% if admin %}
        <div class="row mt-3 mb-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 4</h2>
          <p class="card-text"> Zlecenia produkcyjne zrealizowane lub anulowane<p>
            <button class="btn btn-primary">
                <a class="text-white" href="{%  url "procReal.views.index" %}"> Zlecenia Zakonczone </a> </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Dokument 3</h2>
            <p class="card-text"> Zlecenia Zrealizowane po wytłaczarkach </p>
            <button class="btn btn-primary">
                <a class="text-white" href="{%  url "procFolia.views.index" %}"> Zlecenia Zrealizowane Rolki </a>
            </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Pracownicy</h2>
          <p class="card-text">Wszyscy pracownicy<p>
            <button class="btn btn-primary">
                <a class="text-white" href="{%  url "Pracownicy.views.index" %}">Pracownicy </a>
            </button>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
</div>

  </body>
</html>