.table {
    border:none;
    border-collapse: collapse;
    padding-bottom: 10px;
}

.table td {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    font-size: 1em;
    padding: 5px !important;
    height: 1px;
    text-align: center;
  vertical-align: middle;
   font-family: 'Trebuchet MS', sans-serif;
}

.table td:first-child {
    border-left: 2px solid #000;
}

.table td:last-child {
    border-right: 2px solid #000;
}

.table th {
  font-size: 0.8em;
    margin: 3px;
  height: 1px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  text-align: center;
    vertical-align: middle;
  padding: 0.3em;
    background-color: lightgrey;
      color: black;

}
