{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
                      <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
        </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container p-3">
    <div class="contact-box">
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
     <label class="text-danger"  style="font-size: 18px;">Pola obowiązkowe    </label>&nbsp <!-- Red color for mandatory fields -->
    <label class="text-info"  style="font-size: 18px;">Pola nieobowiązkowe     </label> &nbsp <!-- Secondary color for optional fields -->
    <label class="text-secondary"  style="font-size: 18px;">Pola automatycznie</label>
    </div>
    <div class="mb-2">
        <label class="text-warning"  style="font-size: 18px;"> Nie używaj przecinków tylko kropek w przypadku liczb dziesiętnych.</label>
    </div>
    <div class="mb-3">
        <label for="artykul" class="form-label fw-bold">Artykuł</label>
        <input style="border-color: #FF0000;" type="text" name="Artykul" class="form-control" id="id_Artykul" placeholder="Produkowana folia" maxlength="40" value="{{ form.Artykul.value|default_if_none:'' }}">
    </div>
    <div class="row mb-3">
      <div class="col-auto">
        <label for="data" class="form-label">Data</label>
        <input style="border-color: #FF0000;" type="date" class="form-control" name="Data" id="id_Data" value="{{ form.Data.value|default_if_none:'' }}">
      </div>
        <div class="col-auto">
            <label class="form-label" for="ilosczlec">IlośćZlec [szt lub mb]</label>
            <input style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_IloscZlec')" value="{{ form.IloscZlec.value|default_if_none:''| readable_integer }}"  name="IloscZlec" id="id_IloscZlec" class="form-control" onchange="dlugfoliplanFunc(), deleteFiled()" />
        </div>
            <div class="col-auto">
                <label class="form-label" for="rodzaj">Rodzaj folii</label>
                <select style="border-color: #FF0000;" class="form-select" name="Rodzaj" id="id_Rodzaj" aria-label="Default select example"  onchange="wagafolizlecFunc(), deleteFiled()">
                  <option value="0">HDPE</option>
                  <option value="1">LDPE</option>
                  <option value="2">MDPE</option>
                </select>
            </div>
        <div class="col-auto">
            <label for="status" class="form-label">Status</label>
        <select style="border-color: #FF0000;" class="form-select"  name="Status" id="id_Status" aria-label="Default select example">
          <option value="0">Planowane</option>
          <option value="1">W realizacji</option>
          <option value="2">Zrealizowane</option>
          <option value="3">Anulowane</option>
        </select>
      </div>
        <div class="col-auto">
            <label for="status" class="form-label">NrWytł</label>
        <select style="border-color: #FF0000;" class="form-select" name="NrWyt" id="id_NrWyt" aria-label="Default select example">
          <option value="0">W1</option>
          <option value="1">W2</option>
          <option value="2">W3</option>
        </select>
    </div>
        <div class="col-auto">
            <label for="status" class="form-label">Priorytet</label>
        <select style="border-color: #FF0000;" class="form-select" name="Priorytet" id="id_Priorytet" aria-label="Default select example" >
          <option value="0">Wysoki</option>
          <option value="1">Średni</option>
          <option value="2">Niski</option>
        </select>
    </div>
        <div class="col-auto">
            <label for="status" class="form-label">Taśma</label>
        <select style="border-color: #FF0000;" class="form-select" name="Tasma" id="id_Tasma" aria-label="Default select example" onchange="wagafolizlecFunc(), deleteFiled()">
          <option value="0">Nie</option>
          <option value="1">Tak</option>
        </select>
    </div>

    </div>

    <div class="row g-3 mb-3">
        <div class="col-auto ">
            <label class="form-label" for="szerworka">SzerWorka [mm]</label>
            <input value="{{ form.SzerWorka.value|default_if_none:''| readable_integer }}"  style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_SzerWorka')"  name="SzerWorka" id="id_SzerWorka" class="form-control" onchange="zakladkaFunc(), deleteFiled()" />
        </div>
        <div class="col-auto ">
            <label class="form-label" for="szerrekawa">SzerRękawa [mm]</label>
            <input value="{{ form.SzerRekawa.value|default_if_none:''| readable_integer }}"  style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_SzerRekawa')" name="SzerRekawa" id="id_SzerRekawa" class="form-control"  onchange="zakladkaFunc(), wagafolizlecFunc(), deleteFiled()" />
        </div>
        <div class=" col-auto ">
            <label class="form-label" for="zaklada">Zakładka [mm]</label>
            <input value="{{ form.Zakladka.value | default_if_none:'' | readable_integer }}"  style="border-color: #CCCCCC;" class="form-control" name="Zakladka" id="id_Zakladka" type="text"   aria-label="Disabled input example"  readonly>
         </div>

    </div>

       <div class="row g-4 mb-3">
        <div class="col-auto ">
            <label class="form-label" for="dlugworka">DługWorka [mm]</label>
            <input value="{{ form.DlugWorka.value|default_if_none:''| readable_integer }}"  style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_DlugWorka')" name="DlugWorka" id="id_DlugWorka" class="form-control" onchange="dlugfoliplanFunc(),deleteFiled()" />
        </div>
        <div class="col-auto ">
            <label class="form-label" for="grubworka">GrubWorka [mikr]</label>
            <input value="{{ form.GrubWorka.value|default_if_none:''| readable_integer }}" style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_GrubWorka')" name="GrubWorka"  id="id_GrubWorka" class="form-control" onchange="deleteFiled()"/>
        </div>
           <div class="col-auto ">
            <label class="form-label" for="dolneodch">DolneOdch [mikr]</label>
            <input value="{{ form.DolneOdch.value|default_if_none:''| readable_integer }}" style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_DolneOdch')" name="DolneOdch" id="id_DolneOdch" class="form-control" onchange="wagafolizlecFunc(),deleteFiled()"/>
        </div>
           <div class="col-auto ">
            <label class="form-label" for="dlugfoliplan_korekta">DługFoilPlan Korekta [%]</label>
            <input value="{{ form.DlugFoilPlan_Korekta.value|default_if_none:'1'| readable_integer }}" style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_DlugFoilPlan_Korekta')"  name="DlugFoilPlan_Korekta" id="id_DlugFoilPlan_Korekta" class="form-control" onchange="dlugfoliplanFunc(), deleteFiled()"/>
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col-auto ">
            <label class="form-label" for="wagafolizlec">WagaFoilZlec [kg]</label>
            <input value="{{ form.WagaFoliZlec.value|default_if_none:''| readable_integer }}" style="border-color: #CCCCCC;" type="text" name="WagaFoliZlec" id="id_WagaFoliZlec" class="form-control" value="0" aria-label="Disabled input example"  readonly onchange="wagarolkizlecFunc()"/>
        </div>
        <div class="col-auto ">
            <label class="form-label" for="dlugfoliplan">DługFoilPlan [mb]</label>
            <input value="{{ form.DlugFoliPlan.value|default_if_none:''| readable_integer }}" style="border-color: #CCCCCC;" type="text" name="DlugFoliPlan" id="id_DlugFoliPlan" class="form-control" value="0" aria-label="Disabled input example"  readonly onchange="dlugrolkiplanFunc()" />
        </div>
    </div>


    <div class="row g-2 mb-3">
        <div class="col-auto ">
            <label class="form-label" for="iloscrolekzlec">IlośćRolekZlec [szt]</label>
            <input value="{{ form.IloscRolekZlec.value|default_if_none:''| readable_integer }}" style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_IloscRolekZlec')" name="IloscRolekZlec" id="id_IloscRolekZlec" class="form-control" onchange="dlugrolkiplanFunc(); wagarolkizlecFunc();dlugfolizlecFunc()" />
        </div>
        <div class="col-auto ">
            <label class="form-label" for="dlugrolkizlec_korekta">DługRolkiZlec korekta [mb]</label>
            <input value="{{ form.DlugRolkiZlec_Korekta.value|default_if_none:''| readable_integer }}" style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_DlugRolkiZlec_Korekta')" name="DlugRolkiZlec_Korekta" id="id_DlugRolkiZlec_Korekta" class="form-control" onchange="dlugfolizlecFunc()" />
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-auto">
            <label class="form-label" for="dlugrolkiplan">DługRolkiPlan [mb]</label>
            <input value="{{ form.DlugRolkiPlan.value|default_if_none:''| readable_integer }}" style="border-color: #CCCCCC;" type="text"  onkeyup="addSeparator('id_DlugRolkiPlan')" name="DlugRolkiPlan"  id="id_DlugRolkiPlan" class="form-control" value="0" aria-label="Disabled input example" readonly/>
        </div>
        <div class="col-auto">
            <label class="form-label" for="dlugfolizlec_korekta">DługFoilZlec korekta [mb]</label>
            <input value="{{ form.DlugFoliZlec_Korekta.value|default_if_none:''| readable_integer }}" style="border-color: #CCCCCC;" type="text"  onkeyup="addSeparator('id_DlugFoliZlec_Korekta')" name="DlugFoliZlec_Korekta" id="id_DlugFoliZlec_Korekta" class="form-control" value="0" aria-label="Disabled input example"  readonly />
        </div>
        <div class="col-auto">
            <label class="form-label" for="wagarolkizlec">WagaRolkiZlec [kg]</label>
            <input value="{{ form.WagaRolkiZlec.value|default_if_none:''| readable_integer }}" style="border-color: #CCCCCC;" type="text" name="WagaRolkiZlec" id="id_WagaRolkiZlec" class="form-control" value="0" aria-label="Disabled input example"  readonly />
        </div>
    </div>

    <div class="mb-3">
        <label for="uwagi" class="form-label">Uwagi</label>
        <input  style="border-color: #00BFFF;" type="text" class="form-control" name="Uwagi" id="id_Uwagi"  maxlength="40"  value="{{ form.Uwagi.value|default_if_none:'' }}">
    </div>

    <div class="col text-center">
        <button type="button" class="btn btn-primary fw-bold" onclick="window.location.href='{% url 'Home.views.index' %}'">Anuluj</button>
       <button type="submit" name="redirect_another" class="btn btn-secondary fw-bold">Dodaj kolejny</button>
        <button type="submit" name="redirect_index" class="btn btn-secondary fw-bold">Dodaj</button>

    </div>
</form>
     </div>
    </div>
</body>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
        var selectedValue = {{ form.NrWyt.value|default_if_none:'0' }};
        var selectedValue2 = {{ form.Status.value|default_if_none:'0' }};
        var selectedValue3 = {{ form.Rodzaj.value|default_if_none:'0' }};
        var selectedValue4 = {{ form.Priorytet.value|default_if_none:'0' }};
        var selectedValue5 = {{ form.Tasma.value|default_if_none:'0' }};
    </script>
    <script src={% static "js/sep.js" %}></script>
    <script src={%  static "js/Doc1F/form.js" %}></script>
    <script  src={%  static "js/Doc1F/selected.js" %}></script>
    <script src={%  static "js/MakeEmpty.js" %}></script>
</html>