{% extends 'Doc1/procPlan.html' %}

{% block table %}
<div class=" w-100 overflow-hiden ">
    <div class="row">
        <div class="col-12">
            <div class="data_table">
                <table id="example" class="table table-striped table-bordered small">

	<tr>
        <th >Nr</th>
		<th >NR ZP</th>
		<th colspan="4">Artykuł</th>
		<th>IlośćZlec<br>[szt]</th>
		<th>SzerWorka<br>[mm]</th>
		<th>SzerRękawa<br>[mm]</th>
		<th>Zakładka<br>[mm]</th>
		<th>DługWorka<br>[mm]</th>
		<th>GrubWorka<br>[mikr]</th>
		<th>WagaFoilZlec<br>[kg]</th>
		<th>DługFoliPlan<br>[mb]</th>
		<th>IlośćRolekZlec<br>[szt]</th>
		<th colspan="2">DługRolki<br>[mb]</th>
		<th>DługFoliZlec<br>korekta<br>[mb]</th>
		<th>WagaRolkiZlec<br>[kg]</th>
		<th>Rodzaj folii</th>
		<th>NrWytl</th>
		<th>Uwagi</th>
		<th colspan="4">Status</th>
		<th>Funkcja</th>
	</tr>
	<tr>
        <td rowspan="4"> {{ forloop.counter }} </td>
		<td rowspan="4"> {{post.NrZp}} </td>
		<td colspan="4" rowspan="3">{{ post.Artykul }}</td>
		<td rowspan="2">{{ post.IloscZlec | readable_integer }}</td>
		<td rowspan="2">{{ post.SzerWorka | readable_integer }}</td>
		<td rowspan="2">{{ post.SzerRekawa | readable_integer }}</td>
		<td rowspan="2">{{ post.Zakladka | readable_integer }}</td>
		<td rowspan="2">{{ post.DlugWorka | readable_integer }}</td>
		<td rowspan="2">{{ post.GrubWorka | readable_integer }}</td>
		<td rowspan="2">{{ post.WagaFoliZlec | readable_integer }} </td>
		<td rowspan="2"> {{ post.DlugRolkiPlan | readable_integer }} </td>
		<td rowspan="4"> {{ post.IloscRolekZlec | readable_integer }} </td>
		<th rowspan="2">DługRolkiPlan<br>/mb/</th>
		<td rowspan="2">{{ post.DlugRolkiPlan | readable_integer }}</td>
		<td rowspan="4">{{ post.DlugFoliZlec_Korekta | readable_integer }}</td>
		<td rowspan="4">{{ post.WagaRolkiZlec | readable_integer }}</td>
		<td rowspan="4">{{ folia_dict | get_item:post.Rodzaj }}</td>
		<td rowspan="4">{{ nrwyt_dict | get_item:post.NrWyt }}</td>
		<td rowspan="4">{{ post.Uwagi |default_if_none:"" }}</td>
		<td colspan="4" rowspan="4"> {{ status_dict|get_item:post.Status }}</td>
		<td rowspan="4">
            <div class="container mt-2">
              <div class="row">
                <div class="col-2 justify-content-around d-flex flex-column ">
                  <div>
                    <button class="m-1" type="button" >
                        <a href="{% url 'editForm' post.id %}">
                            Edytuj
                        </a>
                    </button>
                  </div>
                  <div>
                    <button class="m-1" type="button">  <a href="{% url 'copyForm' post.id %}">
                            Kopiuj
                        </a></button>
                  </div>
            </div>
          </div>
            </div>
        </td>
	</tr>
	<tr>
	</tr>
	<tr>
		<th>MMK</th>
		<td colspan="3">{{ post.MMK | default_if_none:"" }}</td>
		<th rowspan="2">DolneOdch <br>[mikr]</th>
		<td rowspan="2"> {{ post.DolneOdch | readable_integer}} </td>
		<th rowspan="2">DługFoilPlan<br>korekta</th>
		<td rowspan="2"> {{ post.DlugFoilPlan_Korekta | readable_integer }} </td>
		<th rowspan="2">DługRolkiZlec<br>korekta<br>[mb]</th>
		<td rowspan="2">{{ post.DlugRolkiZlec_Korekta | readable_integer}}</td>
	</tr>
	<tr>
		<th>Data zlecenia</th>
		<td>{{ post.Data}}</td>
		<th>Kod</th>
		<td>{{ post.Kod | default_if_none:"" }}</td>
		<th>Barwnik</th>
		<td  colspan="3">{{ post.Barwnik | default_if_none:"" }}</td>

	</tr>
                    </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}