{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
                      <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
        </div>
        {% endfor %}
    </ul>
{% endif %}
<div class="container p-3">
    <div class="contact-box">
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nr_zp" class="form-label fw-bold">NrZp</label>
        <input type="text" name="NrZp"  value="{{ data.NrZp }}" class="form-control"  id="id_NrZp" readonly>
    </div>
    <div class="row g-3 mb-3">
        <div class="col-auto">
            <label  class="form-label " style="display: inline-block;">Artykul:</label>
            <input type="text"  class="form-control"   style="display: inline-block; width: auto;" readonly value="{{ data.Artykul }}">
        </div>
            <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Rodzaj:</label>
                 <input type="text" name="Rodzaj"  style="display: inline-block; width: auto;"  value="{{ data.Rodzaj }}" class="form-control"  id="id_Rodzaj" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Operator:</label>
                 <input type="text" class="form-control" name="UserName"  style="display: inline-block; width: auto;" id="id_UserName" value="{{ rols.UserName }}" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Dolne Odch:</label>
                 <input type="text" class="form-control" name="DolneOdch"  style="display: inline-block; width: auto;" id="id_DolneOdch" value="{{ data.DolneOdch }}" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">WagaRolkiZlec:</label>
                 <input type="text" class="form-control" name="WagaRolkiZlec"  style="display: inline-block; width: auto;" id="id_WagaRolkiZlec" value="{{ data.WagaRolkiZlec | readable_integer }}" readonly>
            </div>
    </div>
    <div class="mb-2">
        <label class="text-warning"  style="font-size: 18px;">Nie używaj przecinków tylko kropek w przypadku liczb dziesiętnych.</label>
    </div>
    <div class="mb-3">
        <label for="data" class="form-label fw-bold">Data produkcji</label>
        <input style="border-color: #FF0000;" type="date" name="Data"  class="form-control"  id="id_Data" value="{{ rols.Data }}">
    </div>
    <div class="row g-3 mb-3">
      <div class="col-auto">
        <label for="data" class="form-label">Zmiana</label>
        <input style="border-color: #CCCCCC;" type="number" class="form-control" name="Zmiana" id="id_Zmiana" value="{{ rols.Zmiana }}" readonly >
      </div>
        <div class="col-auto">
        <label for="rolka" class="form-label">Nr Rolki</label>
        <input type="text" class="form-control"  name="Rolka" id="id_Rolka" value="{{ rols.Rolka }}" readonly>
      </div>
        <div class="col-auto">
            <label for="status" class="form-label">NrWytł</label>
            <select style="border-color: #FF0000;" class="form-select" name="NrWytl" id="id_NrWytl" aria-label="Default select example">
              <option value="0">W1</option>
              <option value="1">W2</option>
              <option value="2">W3</option>
        </select>
    </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col-auto">
        <label for="dlugrolkiprod" class="form-label">DługRolkiProd [mb]</label>
        <input style="border-color: #FF0000;" onkeyup="addSeparator('id_DlugRolkiProd')"  type="text" class="form-control" name="DlugRolkiProd" id="id_DlugRolkiProd" value="{{ rols.DlugRolkiProd | readable_integer}}">
      </div>
        <div class="col-auto">
        <label for="wagarolkiprod" class="form-label">WagaRolkiProd [kg]</label>
        <input style="border-color: #FF0000;" onkeyup="addSeparator('id_WagaRolkiProd')" type="text" class="form-control"  name="WagaRolkiProd" id="id_WagaRolkiProd" value="{{ rols.WagaRolkiProd | readable_integer}}" onchange="wynikFunc()">
      </div>
          <div class="col-auto ">
            <label class="form-label" for="walce">Walce</label>
            <input style="border-color: #00BFFF;" onkeyup="addSeparator('id_Walce')" type="text"  name="Walce" id="id_Walce" class="form-control" value="{{ rols.Walce | default_if_none:'' | readable_integer }}" />
        </div>
          <div class="col-auto ">
            <label class="form-label" for="slimak">Ślimak</label>
            <input style="border-color: #00BFFF;" onkeyup="addSeparator('id_Slimak')"  type="text"  name="Slimak" id="id_Slimak" class="form-control" value="{{ rols.Slimak | default_if_none:'' | readable_integer }}"/>
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col_auto">
            <label for="grubosc" class="form-label">Wynikowa grubość [mikrony]</label>
            <input style="border-color: #CCCCCC;" type="text" class="form-control" name="Wynikowa" id="id_Wynikowa" value="{{ rols.Wynikowa | readable_integer  }}" readonly>
        </div>
         <div class="col_auto">
            <label for="wynik" class="form-label">GrubośćWynik %</label>
            <input style="border-color: #CCCCCC;" type="text"  class="form-control" name="Wynik" id="id_Wynik"  value="{{ rols.Wynik | readable_integer }}" readonly>
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col_auto">
            <label for="mieszanka" class="form-label">Mieszanka</label>
            <input   style="border-color: #00BFFF;" type="text" class="form-control" name="Mieszanka" id="id_Mieszanka" value="{{ rols.Mieszanka | default_if_none:''  }}" maxlength="40">
        </div>
         <div class="col_auto">
            <label for="uwagi" class="form-label">Uwagi</label>
            <input  style="border-color: #00BFFF;" type="text" class="form-control" name="Uwagi" id="id_Uwagi" value="{{ rols.Uwagi | default_if_none:''  }}"  maxlength="40">
        </div>
    </div>

   <div class="col text-center">
        <button type="button" class="btn btn-primary fw-bold" onclick="window.location.href='{% url 'PlanFolia.views.index' %}'">Anuluj</button>
      <button type="submit" class="btn btn-secondary fw-bold">Zapisz</button>
    </div>

</form>
     </div>
    </div>
</body>
</html>
 <script src={% static "js/Doc2F/edit.js" %}></script>
 <script src={% static "js/Doc2F/selectedE.js" %}></script>
 <script src={% static "js/sep.js" %}></script>