{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
                      <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">
              ×
              </button>
              <strong>{{message}}</strong>
        </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container p-3">
    <div class="contact-box">
<form method="post" action="/formFolia/{{data.NrZp}}">

    {% csrf_token %}
    <div class="mb-3">
     <label class="text-danger"  style="font-size: 18px;">Pola obowiązkowe    </label>&nbsp <!-- Red color for mandatory fields -->
    <label class="text-info"  style="font-size: 18px;">Pola nieobowiązkowe     </label> &nbsp <!-- Secondary color for optional fields -->
    <label class="text-secondary"  style="font-size: 18px;">Pola automatycznie</label>
    </div>
       <div class="mb-2">
        <label class="text-warning"  style="font-size: 18px;">Uwaga: wartości w polu „Zmiana” nie będzie można edytować po zatwierdzeniu formularza.</label>
        <label class="text-warning"  style="font-size: 18px;">Nie używaj przecinków tylko kropek w przypadku liczb dziesiętnych.</label>
       </div>
    <div class="mb-3">
        <label for="nr_zp" class="form-label fw-bold">NrZp</label>
        <input style="border-color: #CCCCCC;" type="text" name="NrZp"  value="{{ data.NrZp }}" class="form-control"  id="id_NrZp" readonly>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-auto">
            <label  class="form-label " style="display: inline-block;">Artykul:</label>
            <input style="border-color: #CCCCCC;" type="text"  class="form-control"   style="display: inline-block; width: auto;" readonly value="{{ data.Artykul }}">
        </div>
            <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Rodzaj:</label>
                 <input style="border-color: #CCCCCC;" type="text" name="Rodzaj"  style="display: inline-block; width: auto;"  value="{{ data.Rodzaj }}" class="form-control"  id="id_Rodzaj" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Operator:</label>
                 <input style="border-color: #CCCCCC;" type="text" class="form-control" value="{{ user }}"  id="id_UserName"   name="UserName"  style="display: inline-block; width: auto;" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">Dolne Odch:</label>
                 <input style="border-color: #CCCCCC;" type="text" class="form-control" name="DolneOdch"  style="display: inline-block; width: auto;" id="id_DolneOdch" value="{{ data.DolneOdch }}" readonly>
            </div>
          <div class="col-auto">
                <label  class="form-label" style="display: inline-block;">WagaRolkiZlec:</label>
                 <input style="border-color: #CCCCCC;" type="text" class="form-control" name="WagaRolkiZlec"  style="display: inline-block; width: auto;" id="id_WagaRolkiZlec" value="{{ data.WagaRolkiZlec }}" readonly>
            </div>
    </div>

    <div class="mb-3">
        <label for="data" class="form-label fw-bold">Data produkcji</label>
        <input style="border-color: #FF0000;" type="date" name="Data"  class="form-control"  id="id_Data" value="{{ update_form.Data | default_if_none:'' }}">
    </div>
    <div class="row g-3 mb-3">
      <div class="col-auto">
        <label for="data" class="form-label">Zmiana</label>
        <input style="border-color: #FF0000;" type="number"   min="1" max="3" step="1"  class="form-control" name="Zmiana" id="id_Zmiana" value="{{ update_form.Zmiana|default_if_none:'' }}" >
      </div>
        <div class="col-auto">
        <label for="rolka" class="form-label">Nr Rolki</label>
        <input style="border-color: #CCCCCC;" type="text" class="form-control"  value="{{rolka}}" name="Rolka" id="id_Rolka" readonly>
      </div>
        <div class="col-auto">
            <label for="status" class="form-label">NrWytł</label>
            <select  style="border-color: #FF0000;" class="form-select" name="NrWytl" id="id_NrWytl" aria-label="Default select example">
              <option value="0">W1</option>
              <option value="1">W2</option>
              <option value="2">W3</option>
        </select>
    </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col-auto">
        <label for="dlugrolkiprod" class="form-label">DługRolkiProd [mb]</label>
        <input style="border-color: #FF0000;"  type="text"  onkeyup="addSeparator('id_DługRolkiProd')" name="DlugRolkiProd" id="id_DługRolkiProd" class="form-control" value="{{ update_form.DlugRolkiProd | default_if_none:''|readable_integer }}" >
      </div>
        <div class="col-auto">
        <label for="wagarolkiprod" class="form-label">WagaRolkiProd [kg]</label>
        <input style="border-color: #FF0000;" type="text"  onkeyup="addSeparator('id_WagaRolkiProd')" class="form-control"  name="WagaRolkiProd" id="id_WagaRolkiProd" onchange="wynikFunc()" value="{{ update_form.WagaRolkiProd | default_if_none:''|readable_integer }}">
      </div>
          <div class="col-auto ">
            <label class="form-label" for="walce">Walce</label>
            <input style="border-color: #00BFFF;" type="text"  onkeyup="addSeparator('id_Walce')"  name="Walce" id="id_Walce" class="form-control" value="{{ update_form.Walce|default_if_none:'' |readable_integer }}" />
        </div>
          <div class="col-auto ">
            <label class="form-label" for="slimak">Ślimak</label>
            <input style="border-color: #00BFFF;" type="text"  onkeyup="addSeparator('id_Slimak')" name="Slimak" id="id_Slimak" class="form-control" value="{{ update_form.Slimak|default_if_none:'' | readable_integer }}"/>
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col_auto">
            <label for="grubosc" class="form-label">Wynikowa grubość [mikrony]</label>
            <input style="border-color: #CCCCCC;" type="text" class="form-control" name="Wynikowa" id="id_Wynikowa" readonly value="{{ update_form.Wynikowa|readable_integer|default_if_none:'' }}" >
        </div>
         <div class="col_auto">
            <label for="wynik" class="form-label">GrubośćWynik %</label>
            <input style="border-color: #CCCCCC;" type="text"  class="form-control" name="Wynik" id="id_Wynik" readonly value="{{ update_form.Wynik|readable_integer|default_if_none:'' }}">
        </div>
    </div>

    <div class="row g-2 mb-3">
        <div class="col_auto">
            <label for="mieszanka" class="form-label">Mieszanka</label>
            <input style="border-color: #00BFFF;" type="text" class="form-control" name="Mieszanka" id="id_Mieszanka"  maxlength="40">
        </div>
         <div class="col_auto">
            <label for="uwagi" class="form-label">Uwagi</label>
            <input style="border-color: #00BFFF;" type="text" class="form-control" name="Uwagi" id="id_Uwagi"  maxlength="40">
        </div>
    </div>

   <div class="col text-center">
        <button type="button" class="btn btn-primary fw-bold" onclick="window.location.href='{% url 'Home.views.index' %}'">Anuluj</button>
      <button type="submit" class="btn btn-secondary fw-bold">Dodaj</button>
    </div>
</form>
     </div>
    </div>
</body>
</html>
 <script src={% static "js/sep.js" %}></script>
 <script src={% static "js/Doc2F/form.js" %}></script>
 <script src={% static "js/Doc2F/selected.js" %}></script>

</script>