{% block table %}
    <div class=" w-100 overflow-hiden ">
    <div class="row">
        <div class="col-12">
            <div class="data_table">
                <table id="mainTable" class="table table-striped table-bordered small">
                <thead>
	<tr>
		<td>Lp</td>
		<td>Nr ZP</td>
		<td>NrWytl</td>
		<td colspan="3">Artykuł</td>
		<td>SzerWorka<br>/mm/</td>
		<td>Zakładka<br>/mm/</td>
		<td>GrubWorka<br>/mikrony/</td>
		<td>Dolne odchylenie<br>/mikrony/</td>
		<td>DługRolkiZlec<br>korekta<br>/mb/</td>
		<td>WagaRolkiZlec<br>/kg/</td>
		<td>IlośćRolekZlec<br>/szt/</td>
		<td>Kod</td>
		<td>Rodzaj folii</td>
		<td>MMK</td>
		<td>Brawnik</td>
	</tr>
                </thead>
                <tbody>
                    {% for post in serialized_data %}
	<tr id="special">
		<td rowspan="3"> {{ forloop.counter0 }}</td>
		<td rowspan="3" data-id={{ post.NrZp }}> {{ post.NrZp }} </td>
		<td rowspan="3">{{ nrwyt_dict|get_item:post.NrWyt }}</td>
		<td colspan="3" rowspan="3">{{ post.Artykul }}</td>
		<td rowspan="3">{{ post.SzerWorka }}</td>
		<td rowspan="3">{{ post.Zakladka }}</td>
		<td rowspan="3">{{ post.GrubWorka }}</td>
		<td rowspan="3">{{ post.DolneOdch }}</td>
		<td rowspan="3">{{ post.DlugFoilPlan_Korekta }}</td>
		<td rowspan="3">{{ post.WagaFoliZlec }}</td>
		<td rowspan="3">{{ post.IloscRolekZlec }}</td>
		<td rowspan="3">{{ post.Kod }}</td>
		<td rowspan="3">{{ post.Rodzaj }}</td>
		<td rowspan="3">{{ post.MMK}} </td>
		<td rowspan="3"> {{ post.Barwnik}}</td>
	</tr><tr>
	</tr>
	<tr>
	</tr>
                    {% endfor %}
                </tbody>

</table>

      </div>
        </div>
    </div>
</div>
{%  endblock %}