{% block table %}
<div class=" w-100 overflow-hiden ">
    <div class="row">
        <div class="col-12">
            <div class="data_table">
            <table id="example" class="table table-striped table-bordered small">
	<tr>
		<th>Waga produkcja <br> [kg]</th>
		<td id="wagaProd"></td>
		<th>Waga do zakończenia <br> [kg]</th>
		<td id="wagaEnd"></td>
		<th>Długość produkcja<br> [mb]</th>
		<td id="dlugProd"></td>
		<th>Długość do zakończenia <br> [mb]</th>
		<td id="dlugEnd"></td>
		<th>Rolki produkcja <br> [szt]</th>
		<td id="rolkaProd"></td>
		<th>Rolki do zakończenia<br> [szt]</th>
		<td id="rolkaEnd"></td>
	</tr>
</table>
          </div>
        </div>
    </div>
</div>
{% endblock %}